
 <div class="row" data-ng-controller ="CapCalCtrl">
  
    <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-calculator" title="Cap Calculator" data-ng-init = "modsTaken()">
        <a href="">{{modsCount}}</a>
      </rd-widget-header>
      <rd-widget-body classes="no-padding">
        <div class="table-responsive">
          <table class="table fixed">
           <thead>
              <tr>
                  <th class="text-left"> Year 1 Semester 2</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
              </tr>
               <tr>
                   <th class="text-center" width = "10%">Module Code</th>
                   <th class="text-center" width = "25%">Module Title</th>
                   <th class="text-center" width = "10%">MCs</th>
                   <th class="text-center" width = "10%">S/U Status</th>
                   <th class="text-center" width = "10%">Module Grade</th>
                   
                   
               </tr>
           </thead>

            <tbody>
             
              <tr  data-ng-repeat = "modules in takenMods | orderBy:'ModuleCode' track by $index">
              <td class="text-center">{{modules.ModuleCode}}</td>
              <td class="text-center">{{modules.ModuleTitle}}</td>
              <td class="text-center">{{modules.ModuleCredit}}</td>
              <td class="text-center">
                <select data-ng-options="val for val in modules.ModuleSuStatus" name="" ng-model="selectedModStatus">
                    <!-- <option value="">-- Select Status --</option> !-->
                </select>
              </td>
              <td class ="text-center">
                <select data-ng-options="val for val in modules.ModuleGrade" name="" ng-model="selectedModGrade">
                    <!-- <option value="">-- Select Status --</option> !-->
                </select>                  
              </td>
              <!-- <td data-ng-if = "modules.ModuleSuStatus === 'Yes'" class="text-center"> {{modules.ModuleSuStatus}} </td> !-->
              <td class="text-center">Test : {{selectedModStatus}} {{selectedModGrade}}</td>
              <!-- <td>Selected : {{selectedModStatus}}</td> !-->
              <!-- <td>{{modules | json}}</td> !-->
              </tr>
            </tbody>
            
            <!-- Testing/Debug Functions To be deleted 
            <tbody data-ng-init = "testMcs()">
                <tr><td>{{testResults}}</td></tr>
            </tbody>
            !-->
            
          </table>
        </div>      
      </rd-widget-body>
      <rd-widget-footer>
        <!--
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
        !-->
      </rd-widget-footer>
    </rd-widget>
  </div>
  
</div>
